$main-font: 'Noto Sans SC', sans-serif;

$color-main: #333333;
$color-blue: #2d8dfc;
$color-blue-hover: #58a1f6;
$color-blue-2: #2199e4;
$color-grey: #cbcbcb;
$color-grey-2: #c6c6c6;
$color-grey-3: #c9c9c9;
$color-lightgrey: #d1d1d1;
$color-white: #ffffff;

$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
