.pricing-wrapper {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
  background-image: linear-gradient(to bottom, #ffffff, #e5f1ff);
  h2 {
    padding-top: 136px;
    text-align: center;
    font-size: 50px;
    line-height: 1.28;
    color: rgba(51, 51, 51, 0.87);
    margin-bottom: 0px;
  }
  & > p {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(51, 51, 51, 0.6);
  }
  .pricing-plans {
    margin-top: 84px;

    .pricing-card {
      box-shadow: 0px 0px 4px rgba(205, 216, 229, 0.25),
        0px 0px 4px rgba(205, 216, 229, 0.25);
      background: white;
      padding: 40px 32px;
      text-align: left;
      .pricing-card-title {
        // font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #505d68;
        text-align: left;
      }
      .pricing-details,
      .pricing-details-enterprise {
        border-bottom: 2px solid #e5f1ff;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
      .pricing-details-enterprise {
        background: rgba(45, 141, 252, 0.02);
        border-radius: 4px;
        span {
          span {
            color: #2d8dfc;
            font-weight: bold;
          }
        }
      }
      .price {
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 48px;
        color: #2d8dfc;
        padding-right: 8px;
      }
      .pricing-unit {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: rgba(51, 51, 51, 0.6);
      }
      .plan-features {
        list-style-type: none;
        text-align: left;
        margin: 0px;
        padding: 0px;
        li {
          text-align: left;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: rgba(51, 51, 51, 0.6);
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 8px;
        }
        li.feature-na {
          img {
            visibility: hidden;
          }
          color: rgba(51, 51, 51, 0.2);
        }
        button {
          width: 100%;
          height: 42px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #2d8dfc;
          background-color: white;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.5px;
          cursor: pointer;
          text-transform: uppercase;
          margin-top: 35px;
          border: 1px solid #2d8dfc;
        }
        button.inverse {
          background-color: #2d8dfc;
          color: white;
        }
      }
    }
    .most-popular {
      box-shadow: 0px 4px 12px rgba(23, 74, 133, 0.25),
        0px 0px 12px rgba(23, 74, 133, 0.25);
    }
  }
  h3.stay_in_touch {
    font-size: 38px;
    padding-top: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    color: rgba(51, 51, 51, 0.87);
  }
  button.btn_contact {
    width: 10rem;
    height: 42px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d8dfc;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 2rem;
    border: 1px solid #2d8dfc;
  }
  h2.faq_heading {
    font-size: 38px;
    padding: 100px 0px;
  }
  .faq {
    border: 1px solid #c2d1d9;
    background: white;
    border-radius: 2px;
    padding: 1rem;
    .Collapsible {
      cursor: pointer;
      display: block;
      width: 100%;
      justify-content: space-between;
      text-align: left;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #505d68;
      align-items: baseline;
      p {
        font-weight: normal;
      }
      i {
        color: #2d8dfc;
      }
      span.is-open {
        display: block;
        width: 100%;
        background: url("../../assets/images/icons/chevronr.svg") no-repeat top
          right;
      }
      span.is-closed {
        display: block;
        width: 100%;
        background: url("../../assets/images/icons/chevronb.svg") no-repeat top
          right;
      }
    }
    .answer {
      margin-top: 1rem;
      text-align: justify;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #505d68;
      padding-right: 2rem;
      display: none;
    }
  }
  .stay_in_touch_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .all-article-btn {
    width: 264px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    border-radius: 4px;
    border: solid 1px #2d8dfc;
    background-color: #ffffff;
    color: #2d8dfc;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    cursor: pointer;
  }
}

.form-footer {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .pricing-wrapper {
    h2 {
      font-size: 38px;
      padding-left: 10%;
      padding-right: 10%;
    };
    p{
      padding-left: 10%;
      padding-right: 10%;
    };
    .faq{
      margin-top: 10px
    }
    .pricing-plans {
      padding: 0 10%;
      margin-top: 50px;
      .pricing-card {
        box-shadow: none;
        .popular{
          text-align: right;
          color:white;
          font-size: 11px;
          span{
            background-color: #2d8dfc;
            border-radius: 10px;
            padding: 2px 4px;
            font-weight: bold
          }
        }
      }
    }
  }
}
